body {
  background: #261a42;
  overflow-y: hidden;
}

h1 {
  color: #e9c1e9;
}

h2,
.form-label,
.btn {
  color: #261a42;
}

.form-control:focus {
  border-color: #ec9fec;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
    0px 0px 8px rgba(224, 158, 224, 0.5);
}

.btn {
  border-color: #261a42;
}

.card-login {
  background: #cbbaf8;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #cbbaf8;
}

.form-control {
  color: #f0ffde;
  box-shadow: 0px 10px 40px #6d6d8e;
}
